
<div class="swiper-slide">
  <div class="scene">
    <div data-shortname="{{ drink.shortname }}" class="card animate-in-1">
      <div class="card__face card__face--front">
        <h3 id="{{ drink.shortname }}_name">{{ drink.name }}</h3>
        <hr>
        <img
          id="{{ drink.shortname }}_image"
          src="/assets/{{ drink.shortname }}.png"
          onerror="this.src='https://placehold.co/400x400?text=placeholder'"
          alt="drink"
          alt="Picture of {{drink.name}}"
        />
        <hr>
        <div class="ingredients">
          <ul id="{{ drink.shortname }}_ingredients">
            {%- for item in drink.ingredients -%}
              <li>{{ item }}</li>
            {%- endfor -%}
          </ul>
        </div class="ingredients">
        <div class="instructions">
          <p id="{{ drink.shortname }}_instructions">{{ drink.instruction }}</p>
        </div>
      </div>
      <div class="card__face card__face--back">
        <div class="v-center">
          <img
            id="{{ drink.shortname }}_image_back"
            src="/assets/{{ drink.shortname }}.png"
            onerror="this.src='https://placehold.co/400x400?text=placeholder'"
            alt="Picture of {{drink.name}}"
          />
          <h3 id="{{ drink.shortname }}_name_back">{{ drink.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button
      class="btn btn-edit animate-in-2"
      onclick="editCard('{{ drink.shortname }}')"
    >
      Edit
    </button>
    <button
      class="btn btn-reset animate-in-2"
      onclick="resetCard('{{ drink.shortname }}')"
    >
      Reset
    </button>
  </div>
</div>